body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "FreightBigPro";
  src: local("FreightBigPro"),
   url("./fonts/FreightBigPro/FreigBigProBol.otf") format("truetype");
  font-weight: bold;
 }

 @font-face {
  font-family: "Gotham";
  src: local("Gotham"),
   url("./fonts/Gotham/Gotham-Bold.otf") format("truetype");
  font-weight: bold;
 }
 @font-face {
  font-family: "GothamLight";
  src: local("GothamLight"),
   url("./fonts/Gotham/Gotham-Light.otf") format("truetype");
  font-weight: bold;
 }
 